.home-grid{
    column-width: 300px;
}
.site-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main{
    text-align: center;
}
h2{
    background-color: aliceblue;
    text-align: right;
}
footer p {
	color: rgb(84, 235, 104);
     padding: 25px 50px;
        margin-top: 50px;
        background-color: dodgerblue ;
        display: flex;
        justify-content: space-around;
        align-items: center;
        
}